.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: var(--spacing-base);
  user-select: none;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  color: red;
}

.checkboxBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red);
  border: 2px solid var(--gray);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .checkboxContainer {
    font-size: var(--font-size-sm);
  }
}
